.minHeight {
  min-height: 30px;
}

.scorebox {
  
  margin-left: auto;
	margin-right: auto;
}

.scorebox_pic {
  width: 15%;
}

.scorebox_name {
  width: 35%;
}

.scorebox_set {
  width: 10%;
}